.ant-btn {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 20px;
}
.ant-btn-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgba(17, 17, 17, 0.12);
  box-shadow: 0 0 10px rgb(119, 117, 117);
  
}
.red-button {
  
  height: 40px;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-top: 20px;
  color: #fff;
  border-color: #c01f1f;
  background: #c01f1f;
  text-shadow: 0 -1px 0 rgba(59, 55, 55, 0.12);
  box-shadow: 0 0 10px #a81414;
  margin-left: 5px;
  &:hover {
    background-color: #c01f1fad;
  }
}
.paper_useradmin {
  margin: 20px;
  background-color: #f2f3f7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(63, 59, 59, 0.267);
  height: 200px;
  p {
    font-weight: 500;
    margin: 20px;
  }
  .input_useradmin {
    width: 1235px;
    margin: 0 0 20px 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
  }
  .input_useradmin:focus-visible {
    border: none !important;
    box-shadow: 6px 6px 10px rgba(58, 57, 57, 0.1), -6px -6px 10px white;
  }
}
.ant-table-wrapper{
    margin: 20px;
    background-color: #f2f3f7;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(63, 59, 59, 0.267);
    .ant-spin-nested-loading{
        margin: 20px;
    }
}
.fa-trash{
  margin-right: 0 !important;
  width: 20px !important;
}
.fa-plus{
  margin-right: 0 !important;
  width: 20px !important;
}
.fa-file-pen{
  margin-right: 0 !important;
  width: 20px !important;
}
.fa-user-pen{
  margin-right: 0 !important;
  width: 20px !important;
}
.green-button{
  margin-right: 8px;
}